*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    color: rgb(179, 102, 250);
    text-align: center;
    font-size: 4rem;
    opacity: 0.4rem;
}
.todo-list{
    width: 450px;
    padding: 1rem 1.3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    align-items: center;
}
#form{
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.input{
    border-radius: 5px;
    padding: 1rem 1.3rem;
    font-size: 1.5rem;
    border: none;
}
.input::placeholder{
    color: #b5b5b5;
}
.add-list{
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(179, 102, 250);
    outline: none;
    font-size: 16px;
    cursor: pointer;
    
}

.todo{
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.todo-items{
    padding: 0.3rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b5b5b5;
}
.todo-items p{
    font-size: 16px;
    color: #6e6d6d;
    font-weight: 400;
}

.item-btn{
    padding: 1rem 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #6e6d6d;
}
.todo-items.complete p{
    text-decoration: line-through;
    color: #b5b5b5
}
